.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #2C2C2C;
}

.connectIcon {
    width: 40px;
    height: 40px;
    padding: 16px;
    cursor: pointer;
    fill: white;
}

@media (max-width: 768px) {
    .connectIcon {
        width: 32px;
    }
}

.connectIcon:hover {
    fill: #2EC3CC;
    transform: translateY(-3px);
}

.connectIcon:hover .emailClassStroke {
    stroke: #2EC3CC;
}
