html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    overflow-y: scroll;
}

.no-scroll {
    overflow: hidden;
    overflow-y: hidden;
}

.main {
    min-height: calc(100vh - 240px);
}

a {
    color: inherit;
    text-decoration: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    background: white;
    line-height: 1;
    color: #2C2C2C;
    font-family: Open Sans, sans-serif;
    line-height: 1.6;
    font-size: 1em;
    min-width: 280px;
}

ol, ul {
    list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
    color: #1C1F4C;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}
